<footer role="contentinfo" style="margin-left:0">
    <hr/>
    <div class="clearfix">
        <p style="text-align: center;">
            Copyright &copy; 2016 Q.K QUICK EXPRESS LTD Powered by <a href="http://qkquickexpress.com/" target="_blank" id="lnkictAdd">
                                                                       Q.K QUICK EXPRESS LTD 
</a>
        </p>
        @*<button class="pull-right btn btn-inverse-alt btn-xs hidden-print" id="back-to-top"><i class="fa fa-arrow-up"></i></button>*@
    </div>
</footer>
