<footer role="contentinfo">
    <hr/>
    <div class="clearfix">
        <p style="text-align: center;">
            Copyright &copy; 2017 | BD DIGITAL CONSULTANCY
            Design & Developed by<a href="http://bddigitalconsultancy.com/" target="_blank" id="lnkictAdd">
                BD DIGITAL CONSULTANCY
            </a>
        </p>
        
        <button class="pull-right btn btn-inverse-alt btn-xs hidden-print" id="back-to-top"><i class="fa fa-arrow-up"></i></button>
    </div>
</footer>
